html, body {
      max-width: 100%;
      overflow-x: hidden;
      margin-top: 30px;
      background-color: #909090;
}
.header {
      float: right;
      /*width: 300px;     */
}
.toppanel {
      position: fixed;
      background-color: #ff8080;
      color: white;
      /*text-align: center;*/
      padding: 20px;
      width: 100%;
      z-index: 1;
}
.topbar {
    height: 40px;
    color: lightgrey;
    font-size: large;
}
.voteText {
    font-size: large;
}
.projectList {
      border-color: grey;
}
.project {
      margin: 7px;
      margin-left: 15px;
      width: 100%;
      border: solid;
      border-width: 0.1px;
      opacity: 0.6;
}
.project:hover {
      opacity: 1.0;
}
.container {
      /*position: ;*/
      margin-left: 0px;
}
.row {
      width: 100%;
}
#voteLayer {
      /*opacity : 0;*/
      position: absolute;
}
clock {
      font: serif;
      font-size: large;
}
.projectListLayer {
    position: absolute;
}
.voteLayer {
    position: absolute;
}