
@main("A Test") {
    [                           menu bar                                     ]
    <br>
    <br>
    [                          group1's project                              ]
    <br>
    [                          group2's project                              ]
    <br>
    [                          group3's project                              ]
    <br>
    [                          group4's project                              ]
    <br>
                                    .
                                    .
                                    .
}
