
@main("Main Menu") {
    <button style="width: 800px; height: 50px;" >[ menu bar ]</button>

    <br>
    <br>
    <br>
    <br>

    <button style="width: 800px; height: 200px;">[ group1's project ]</button>

    <br>
    <br>

    <button style="width: 800px; height: 200px;">[ group2's project ]</button>

    <br>
    <br>

    <button style="width: 800px; height: 200px;">[ group3's project ]</button>

    <br>
    <br>

    <button style="width: 800px; height: 200px;">[ group4's project ]</button>
    
    <br>
    <br>
                                    .
                                    .
                                    .
}
