@main("Add Project") {

    <html>
        <head>
            <form action="/admin">
                <input type="submit" value="Back">
            </form>
            <title>Generate Project</title>
        </head>

        <h1>Generate Projectt</h1>
        <div>
            <form action="/admin/addProject" method="post">
                Number of New Project:  <input  type="number"  name="amount"><br><br>
                <button type="submit" name="action" class="Submit">Submit</button>
            </form>
        </div>
        <br>


    </html>
}
