@main("Add Rate Criteria") {

    <html>
        <head>
			<form action="/admin">
				<input type="submit" value="Back">
			</form>
            <title>Add Rate Criteria</title>
        </head>

        <h1>Add Rate Criteria</h1>

        <div>
            <form action="/admin/addRatingCriteria" method="post">
                CriteriaName:  <input  type="text"  name="criteriaName"><br><br>
                <button type="submit" name="action" class="Submit">Submit</button>
            </form>
        </div>
        <br>


    </html>
}
