@main("Admin Page") {

    <html>
        <head>
            <title>Admin Page</title>
        </head>

        <h1>Welcome Admin</h1>

        <div>
            <button onclick="location.href='/rateResult'" type="button" class="linkButton">Show Rate Result</button>
        </div>
        <br>
        <div>
            <button onclick="location.href='/voteResult'" type="button" class="linkButton">Show Vote Result</button>
        </div>
        <br>
        <div>
            <button onclick="location.href='/admin/addUser'" type="button" class="linkButton">Add new user</button>
        </div>
        <br>
        <div>
            <button onclick="location.href='/admin/addRatingCriteria'" type="button" class="linkButton">Add new rating criteria</button>
        </div>
        <br>
        <div>
            <button onclick="location.href='/admin/addVotingCriteria'" type="button" class="linkButton">Add new voting criteria</button>
        </div>
        <div>
            <button onclick="location.href='/admin/changeDueTime'" type="button" class="linkButton">Change due time</button>
        </div>

    </html>
}
