@(rating: Double)

@main("Group 1 Profile page") {
    <image src = "assets/option_bar.jpg" title = "option"></image>

    <br>
    <br>
    <br>
    <br>


    <image src = "assets/template_g1.jpg" title = "group1"></image>

    <br>
    <br>
	
	<b>Project Name</b>: LOL
	<br>
	<b>Description</b>: A program use for measure how loud you can laugh.
	<br>
	<b>Rating</b>: @rating
	<br>
	<br>
	<button> Rate this group </button>

    

                                    .
                                    .
                                    .
}