
@main("Main Menu") {
    <image src = "assets/option_bar.jpg" title = "option"></image>

    <br>
    <br>
    <br>
    <br>


    <a href="profile"><image src = "assets/template_g1.jpg" title = "group1"></image></a>

    <br>
    <br>

    <a href="profile"><image src = "assets/template_g2.jpg" title = "group2"></image></a>

    <br>
    <br>

    <a href="profile"><image src = "assets/template_g3.jpg" title = "group3"></image></a>

    <br>
    <br>

    <a href="profile"><image src = "assets/template_g4.jpg" title = "group4"></image></a>

    <br>
    <br>

                                    .
                                    .
                                    .
}
