@(voteCriteria: List[VotingCriteria])(currentUser : User)
@main("Main Menu") {
    <html>
        <head>
            <title>Main menu</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
            <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        </head>

        <body>
            <!-- Modal -->
            <div id="logoutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Logout" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2><center>Are you sure ?</center></h2>
                        </div>
                        <div class="modal-footer">
                            <button onclick="location.href='/logout'" type="button" class="btn btn-default">Ok</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="voteConfirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Vote confirmation" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>You vote <b><projectName></projectName></b> <p>Are you sure ?</h3>
                        </div>
                        <div class="modal-footer">
                            <form action="/vote" method="post">
                                <input id="voteValue" type="radio" name="projectID" value="" checked style="visibility: hidden;">
								<input type="hidden" name="criteriaID" value=1>
                                <input type="hidden" name="userID" value=@currentUser.getID>
                                <button type="submit" name="action" class="btn btn-default">Ok</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div id="votecriteriaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Choose a criterian" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2><center>Select the Voting Criteria</center></h2>
                        </div>
                        <div class="modal-body vcField">
                            <!-- Template Prepared for Database -->
							@voteCriteria.map { vote =>
								<p><button type="button" class="btn btn-warning btn-block vote-criteria" value="1" data-dismiss="modal"><span class="glyphicon glyphicon-star"></span> @vote.criteriaName</button>
							}
                            
                            <!-- <p><button type="button" class="btn btn-danger btn-block vote-criteria" value="2" data-dismiss="modal"><span class="glyphicon glyphicon-heart"></span> The Coolest</button>
                            <p><button type="button" class="btn btn-info btn-block vote-criteria" value="3" data-dismiss="modal"><span class="glyphicon glyphicon-cog"></span> Greatest Performance</button>
                            <p><button type="button" class="btn btn-primary btn-block vote-criteria" value="4" data-dismiss="modal"><span class="glyphicon glyphicon-eye-open"></span> Greatest Design</button> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- votebar -->
            <nav class="navbar navbar-default navbar-fixed-top" id="votebar">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand voteText" href="#">
                        Select the best group then click ok
                    </a>
                </div>
                <div class="navbar-header pull-right">
                    <a class="navbar-brand voteText" href="#" id="back"><span class="glyphicon glyphicon-chevron-up"></span> Back</a>
                </div>
            </nav>

            <!-- topbar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="topbar">
                <div class="navbar-headerll-left">
                <a class="navbar-brand hidden-xs" href="#">
                    ExceedVote
                </a>
                <a class="navbar-brand" href="#"><clock ></clock></a>
                    <a class="navbar-brand" href="#">
                        @currentUser.username
                    </a>
                </div>


                <div class="navbar-header pull-right" id="optionPanel">
                    <a class="navbar-brand dropdown-toggle" id="optionmenu" data-toggle="dropdown" aria-expanded="true">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="optionmenu">
                        <li>
                            <a data-toggle="modal" data-target="#votecriteriaModal" id="vote"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><font color="#F0F0F0" style="font-size:large"> Vote</font></a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li>
                            <a data-toggle="modal" data-target="#logoutModal"><span class="glyphicon glyphicon-off"></span> <font color="#F0F0F0" style="font-size:large">Logout</font></a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="voteLayer">
                <div class="container-fluid voteList">
                    <div class="row" id="1">
                        <a value="1" class="voteB" id="Saint4" data-toggle="modal" data-target="#voteConfirm"><image class="project img-rounded" src = "assets/project/saint4_cat.jpg" title = "Saint4"></image></a>
                    </div>
                    <div class="row" id="2">
                        <a value="2" class="voteB" id="Manat" data-toggle="modal" data-target="#voteConfirm"><image class="project img-rounded" src = "assets/project/manat_cat.jpg" title = "Manat"></image></a>
                    </div>
                    <div class="row" id="3">
                        <a value="3" class="voteB" id="2Big2Slim" data-toggle="modal" data-target="#voteConfirm"><image class="project img-rounded" src = "assets/project/2big2slim_cat.jpg" title = "2Big2Slim"></image></a>
                    </div>
                    <div class="row" id="4">
                        <a value="4" class="voteB" id="Fatcat" data-toggle="modal" data-target="#voteConfirm"><image class="project img-rounded" src = "assets/project/fatcat_cat.jpg" title = "Fatcat"></image></a>
                    </div>
                </div>
            </div>

            <div class="projectListLayer">
                <div class="container-fluid projectList">
                    <div class="row" id="1">
                        <a href="profile/1" id="Saint4"><image class="project img-rounded" src = "assets/project/saint4_cat.jpg" title = "Saint4"></image></a>
                    </div>
                    <div class="row" id="2">
                        <a href="profile/2" id="Manat"><image class="project img-rounded" src = "assets/project/manat_cat.jpg" title = "Manat"></image></a>
                    </div>
                    <div class="row" id="3">
                        <a href="profile/3" id="2Big2Slim"><image class="project img-rounded" src = "assets/project/2big2slim_cat.jpg" title = "2Big2Slim"></image></a>
                    </div>
                    <div class="row" id="4">
                        <a href="profile/4" id="Fatcat"><image class="project img-rounded" src = "assets/project/fatcat_cat.jpg" title = "Fatcat"></image></a>
                    </div>
                </div>
            </div>

            <!-- JQuery -->
            <script>
                $("#votebar" ).toggle();
                var state = 0;

                $(document).ready(function(){

                    //Clock Section
                    function getdate(){
                        var today = new Date();
                        var h = today.getHours();
                        var m = today.getMinutes();
                        var s = today.getSeconds();
                        if(h<10) {
                            h = "0"+h;
                        }
                        if(m<10) {
                            m = "0"+m;
                        }
                        if(s<10){
                            s = "0"+s;
                        }
                        $("clock").text(h+" : "+m+" : "+s);
                        setTimeout(function(){getdate()}, 500);
                    }
                    getdate();
                    //////////////////////////////////////////////

                    //Vote Section
                    $('#vote').click(function () {
                        var body = $("html, body");
                        body.animate({scrollTop:0}, "duration:600", "swing", function() {
                            //old vote animate
//                        console.log("vote");
//                        $("#topbar").fadeOut();
//                        $("#projectlistLayer").fadeOut();
//                        $("#votebar" ).fadeIn();
//                        $("#voteLayer" ).fadeIn();

                        });
                    });
                    //////////////////////////////////////////////

                    //Back Button
                    $("#back" ).click(function () {
                        $(".projectListLayer" ).toggle();
                        $("#topbar" ).fadeToggle(700, "swing", function() {
                        });
                        $("#votebar" ).fadeToggle(700, "swing", function() {
                        });
                    });
                    //////////////////////////////////////////////

                    //Vote Button
                    $(".voteB" ).click(function () {
                        var projectName = $(this ).attr("id");
                        var value = $(this ).attr("value");
                        $("projectname").contents().filter(function () {
                        return this.nodeType === 3;
                        } ).remove();
                        $("projectname" ).append(projectName);
                        $("#voteValue" ).attr("value", value);
                    });
                    //////////////////////////////////////////////

                    //Vote Criteria Section
                    var voteCriteriaID = -1;
                    $(".vote-criteria" ).click(function() {
                        voteCriteriaID = $(this ).attr("value");
                        $(".projectListLayer" ).toggle();
                        $("#topbar" ).fadeToggle(700, "swing", function() {
                        });
                        $("#votebar" ).fadeToggle(700, "swing", function() {
                        });
                    });
                    //////////////////////////////////////////////

                    //Already vote
                    /////////////////////////////////////////////

                    var screenWidth = $(window ).width();
                    console.log(screenWidth);
                    if (screenWidth < 405) {
                        $(".voteText" ).css("font-size", "smaller");
                    }


                    $("#optionmenu" ).click( function() {
                       $(document ).blur();
                    });

                    $(document ).click(function() {
                        if ($(this ).attr("id") == "optionmenu")
                            console.log("clicked");
                    });
                });

            </script>
        </body>
    </html>
}

<script type="text/javascript">
function theFunction () {
// return true or false, depending on whether you want to allow the `href` property to follow through or not
}
</script>