@(project : Project )(member : List[User])(rcList : List[RatingCriteria])(currentUserID : Integer)(currentUser : User)(screenShot : List[UploadRecord])
@import utils.Time
<!DOCTYPE HTML>
<html lang = "en">
    <head>
        <title>@project.projectName</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    </head>

    <style>
        html {
            display: block;
            margin-left: auto;
            margin-right: auto;
            align-content: center;
            width: 100%;
        }
        .topbar {
            height: 40px;
            color: lightgrey;
            font-size: large;
        }
        #option-panel {
            /*margin-right: 10px;*/
        }
        .NameProject{
        font-size : 200%;
        color : black;
        text-align:center;
        }
        .Description{
        font-size : 200%;
        color : black;
        }
        .Member{
        font-size : 150%;
        color : black;
        }
        h{
        font-family: Helvetica;
        }
        .ScreenShot{
            font-size : 200%;
            color : black;
        }
        .Rate{
            font-size : 200%;
            color : black;
        }
        .p{
            font-style: normal;
        }
        p{
            font-style: normal;
        }
        /* DASHED LINE*/
        .Line1{
            border-bottom: 1px dashed;
            border-bottom-color: black;
        }
        /* SOLID LINE*/
        .Line2{
        border-bottom: 1px solid;
        border-bottom-color: white;
        }
        .ProPicBack{
            background-color: lightskyblue;
            padding-top: 20px;
            padding-bottom: 10px;
        }
        .descriptionSection {
            background-color: lavenderblush;
        }
        .DesBack{
            background-color: lightgrey;
            padding-top: 30px;
        }
        .SceenBack{
            background-color: lightskyblue;
        }
        .RateBack{
            background-color: lightgrey;
        }
        .blankSpace1{
            background-color: black;
        }
        .blankSpace2{
            background-color: grey;
        }
        .hiddenSubmit {
            display: none;
        }
        label > input{ /* HIDE RADIO */
            display:none;
        }
        label > input + span{
            cursor:pointer;
            border:2px solid transparent;
        }
        label > input + button{
            cursor:pointer;
            border:2px solid transparent;
        }
        label > input:checked + span{
        /*already in JQuery*/
        }
        label > input:checked + button{
        /*already in JQuery*/
        }
        .picture-project {
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 90%;
        }
        .star {
            opacity: 0.4;
            font-size: large;
        }
        .novoteButton{
            margin-left: 10px;
            opacity: 0.2;
            font-size: large;
            color: red;
        }
        #template {
            display: none;
        }
        #description {
            font-size: 150%;
            margin-top: 3%;
            margin-bottom: 3%;
        }
        #submitRate {
            margin-top: 2%;
            margin-bottom: 2%;
        }
        .STDFont{
            font-family:Helvetica;
            font-size: 100%;
        }
        .dropdown-menu {
            background-color: rgba(64, 63, 62, 0.78);
            width: 25%;
        }
        .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
            background-image: none;
            background-color: #706f6e;
        }
    </style>

    <body>
        <!-- Modals -->
        <div id="logoutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Logout" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2><center>Are you sure ?</center></h2>
                    </div>
                    <div class="modal-footer">
                        <button onclick="location.href='/logout'" type="button" class="btn btn-default">Ok</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="UploadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Logout" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2><center>Upload complete</center></h2>
                    </div>
                    <div class="modal-footer">
                        <button onclick="location.href='/profile/' + @project.ID" type="button" class="btn btn-default">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="confirmModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Rate Confirmation" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Rate Confirmation</h2>
                    </div>
                    <div class="modal-body">
                        <h3>You vote</h3>
                        <div id="score-review"></div>
                    </div>
                    <div class="modal-footer">
                        <button id="voteok" onclick="" type="button" class="btn btn-default">Ok</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="rerateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Rerate" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Please rate in every criteria.</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- topbar -->
        <div class="container-fluid" style="width: 100%;">
            <nav class="navbar navbar-inverse navbar-fixed-top" id="topbar">
                <div class="navbar-headerll-left">
                    <a class="navbar-brand hidden-xs" href="#"><h>ExceedVote</h></a>
                    <a class="navbar-brand" href="#"><clock></clock></a>
                </div>
                <div class="navbar-header pull-right" id="option-panel">
                    <a class="navbar-brand" href ="/"><span class="glyphicon glyphicon-arrow-left"></span></a>
                    <a class="navbar-brand dropdown-toggle" id="optionmenu" data-toggle="dropdown" aria-expanded="true">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="optionmenu">
                        @if( currentUser.projectId > 0 && currentUser.projectId < 100 && currentUser.projectId != 88 ) {
                            <li>
                                <a href="@routes.EditPage.typeCheck(currentUser.projectId)"><span class="glyphicon glyphicon-pencil"></span> <font color="#F0F0F0" style="font-size:large">Edit page</font></a>
                            </li>
                        }
                    <li role="presentation" class="divider"></li>
                    <li>
                        <a data-toggle="modal" data-target="#logoutModal"><span class="glyphicon glyphicon-off"></span> <font color="#F0F0F0" style="font-size:large">Logout</font></a>
                    </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container-fluid">
            <!--Grey and black space with line-->
            <div class="row">
                <div class="col-xs-12">
                    <div class = "Line2"></div>
                </div>
            </div>
            <div class = "blankSpace1">
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class = "Line2"></div>
                </div>
            </div>
            <div class = "blankSpace2">
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
            </div>

            <div class = "ProPicBack">
                <div class = "NameProject jumbotron">
                    <h>@project.projectName</h>
                </div>
                <p> <img class="picture-project" src = "/getimg/@project.getBanner(project.getID).getID()"> </p>
            </div>
            <div class = "Line2"></div>

            <div class = "DesBack">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <div class = "Description title">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
                            <h>
                                Description
                            </h>
                        </div>
                    </div>
                    <div class="col-xs-0.5"></div>
                </div>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <div id="description" class="jumbotron"><div class = "STDFont"><p>@project.description</p></div></div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>

                <div class="row">
                    <div class = "col-xs-1"> </div>
                    <div class="col-xs-10">
                        <div class = "Information">
                            <div class = "STDFont">
                                <p>Project name: @project.projectName</p>
                                <p>Type of project: @project.typeApp</p>
                            </div>
                            <div class = "Member">
                                <p>
                                    <h>Member:</h>
                                </p>
                            </div>
                                <!--for each-->
                            <div class = "STDFont">
                                @member.map { person =>
                                    <p>@person.name ID: @person.kuNo</p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class = "col-xs-1"> </div>
                </div>
                    <!--blank space and solid line-->
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
            </div>
                <!--solid line -->
            <div class="row">
                <div class="col-xs-12">
                    <div class = "Line2"></div>
                </div>
            </div>


            <div class="SceenBack">
                    <!--blank space-->
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-xs-1"> </div>
                    <div class="col-xs-10">
                        <div class = ScreenShot>
                            <span class="glyphicon glyphicon-picture" aria-hidden="true" ></span> <h>Screenshot</h>
                        </div>
                    </div>
                    <div class = "col-xs-1"> </div>
                </div>
                <div class="row">
                    <div class = "col-xs-1"> </div>
                    <div class="col-xs-10">
                        <div class="container">
                            <br>
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                    <li data-target="#myCarousel" data-slide-to="4"></li>
                                </ol>

                                    <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                @screenShot.zipWithIndex.map { case (screenShot, index) =>
                                     @if(index == 0){
                                        <div class="item active">
                                            <button class = "Picture"> <img src="/getimg/@screenShot.getID" alt="Chania" width="100%" onclick="location.href='/profile/' + @project.ID + '/screenshot/getimg/' + @screenShot.getID"> </button>
                                        </div>
                                     }else{
                                        <div class="item">
                                            <button class = "Picture"> <img src="/getimg/@screenShot.getID" alt="Chania" width="100%" onclick="location.href='/profile/' + @project.ID + '/screenshot/getimg/' + @screenShot.getID"> </button>
                                        </div>
                                    }
                                }
                                </div>

                                    <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class = "col-xs-1"> </div>
                </div>
                <!-- Upload -->
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>

                    <!--blank space-->
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
            </div>
                <!--solid line -->
            <div class="row">
                <div class="col-xs-12">
                    <div class = "Line2"></div>
                </div>
            </div>

                <!--blank space-->
            <div class = "RateBack">
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-xs-1"> </div>
                    <div class="col-xs-10">
                        <div class = Rate>
                                <h style="font-family:verdana" ><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><h> Rate</h></h>
                        </div>
                        <div class = "STDFont">
                            <p><h>Please rate Project @project.ID with follow criteria,</h></p>
                        </div>
                        <div id="rateSection">
                                <!-- Template rating criteria -->
                                <!-- Criteria should get and generate from database -->
                            @rateCode(criterion: models.RatingCriteria) = {
                                <h3>@criterion.criteriaName</h3> <!-- (At)criteriaList.getName(i) -->
                                <form action="/rate" method="post" name="@criterion.criteriaName">
                                    <input type="hidden" name="userID" value=@currentUserID>
                                    <input type="hidden" name="projectID" value=@project.ID>
                                    <input type="hidden" name="criteriaID" value="@criterion.ID"> <!-- value=(At)criteriaList.ID -->

                                    <!-- star1 -->
                                    <label class="score" value="1">
                                        <input type="radio" name="score" value="1">
                                        <span class="glyphicon glyphicon-star star rate@criterion.ID" id="@criterion.ID" value="1"></span>
                                    </label>

                                        <!-- star2 -->
                                    <label class="score" value="2">
                                        <input type="radio" name="score" value="2">
                                        <span class="glyphicon glyphicon-star star rate@criterion.ID" id="@criterion.ID" value="2"></span>
                                    </label>

                                        <!-- star3 -->
                                    <label class="score" value="3">
                                        <input type="radio" name="score" value="3">
                                        <span class="glyphicon glyphicon-star star rate@criterion.ID" id="@criterion.ID" value="3"></span>
                                    </label>

                                        <!-- star4 -->
                                    <label class="score" value="4">
                                        <input type="radio" name="score" value="4">
                                        <span class="glyphicon glyphicon-star star rate@criterion.ID" id="@criterion.ID" value="4"></span>
                                    </label>

                                        <!-- star5 -->
                                    <label class="score" value="5">
                                        <input type="radio" name="score" value="5">
                                        <span class="glyphicon glyphicon-star star rate@criterion.ID" id="@criterion.ID" value="5"></span>
                                    </label>

                                        <!-- no vote -->
                                    <label class="novote" value="0">
                                        <input type="radio" name="score" value="0">
                                        <span class="glyphicon glyphicon-remove novoteButton" id="@criterion.ID" value="0"></span>
                                    </label>
                                    <br>
                                    <button type="submit" name="action" class="hiddenSubmit">Submit</button>
                                </form>
                            }
                            @if(Time.TimesUp() == false) {
                                @rcList.map { c =>
                                    @rateCode(criterion = c)
                                }
                                <button class="btn btn-default" type="button" id="submitRate" data-toggle="modal" data-target="#successModal" >Submit</button>
                            } else {
                                <h2><span class="glyphicon glyphicon-time"></span> Time's up</h2>
                            }
                        </div>
                    </div>
                    <div class = "col-xs-1"> </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
            </div>
                <!--Grey and black space with line-->
            <div class="row">
                <div class="col-xs-12">
                    <div class = "Line1"></div>
                </div>
            </div>
            <div class = "blankSpace2">
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class = "Line2"></div>
                </div>
            </div>
            <div class = "blankSpace1">
                <div class="row">
                    <div class="col-xs-12">
                        <span style="padding-left:1px"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class = "Line2"></div>
                </div>
            </div>
        </div>
        </body>

            <!-- JQuery -->
        <script>

        $(document).ready(function(){

            //Clock Section
            function getdate(){
                var today = new Date();
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();
                if(h<10) {
                    h = "0"+h;
                }
                if(m<10) {
                    m = "0"+m;
                }
                if(s<10){
                    s = "0"+s;
                }
                $("clock").text(h+" : "+m+" : "+s);
                setTimeout(function(){getdate()}, 500);
            }
            getdate();

            ////////////////////////////////

            //star
            $(".star" ).click(function() {
                var id = $(this ).attr("id");
                var value = $(this ).attr("value");
                $(".novoteButton #"+id ).css("opacity", "0.2");
                $(".rate"+id ).each(function() {
                    var otherValue = $(this ).attr("value");
                    if (value >= otherValue) {
                        $(this ).css("opacity", "1");
                    }
                    else {
                        $(this ).css("opacity", "0.4");
                    }
                });
            });
            //////////////////////////////////////////////

            //no vote button
            $(".novoteButton" ).click(function() {
                $(this ).css("opacity", "1");
                var id = $(this ).attr("id");
                $(".star.rate"+id ).each(function() {
                    $(this ).css("opacity", "0.5");
                });
            });
            //////////////////////////////////////////////

            //form submition
            $("form" ).ajaxForm(function() {
                console.log("submitted");
            });
            //////////////////////////////////////////////

            //ok button in confirmModal
            $("#voteok" ).click(function(){
                $ (".hiddenSubmit" ).each(function(index) {
                    $(this ).click();
                });
                location.href='/';
            });
            //////////////////////////////////////////////


            //dummy submit button
            $("#submitRate" ).click(function() {
                $("#score-review" ).html("");
                var i = 0;
                $("form").each(function() {
                    var score;
                    var name = $(this ).prop("name");
                    var checked = $(this ).children("label" ).children("input[type='radio']" ).each(function() {
                        if ($(this ).prop("checked") == true) {
                            score = $(this ).prop("value");
                            if (score == "0") {
                                score = "<span class='label label-danger pull-right' >no rate</span>" ;
                            }
                            else {
                                score = "<span class='label label-success pull-right'>" + score + "</span>" ;
                            }
                        }
                        //unchecked
                        else {
                            //should be multiplier of 5 (6 checked - 1)
                            i++;
                        }
                    });
                    console.log("i = "+i);
                    if (i % 5 != 0) { //if the user hasn't checked all scores
                        return false;
                    }
                    $("#score-review" ).append("<h4>"+name+": "+score+"</h4>");
                });
                if (i % 5 == 0) {
                    $("#confirmModal" ).modal('toggle');
                } else {
                    $("#rerateModal" ).modal('toggle');
                }
            });
            //////////////////////////////////////////////
        $("#submitUpload" ).click(function() {

            $("#UploadModal" ).modal('toggle');

        });
            //////////////////////////////////////////////
        });
        </script>
    <div id="content"></div>
</html>