@(criteria: List[VotingCriteria])(projects: List[Project])(result: org.apache.commons.collections.map.MultiKeyMap)
@main("Vote Result") {
<!DOCTYPE HTML>
<html>
    <head>
        <title>Main menu</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    </head>

    <style>
        .content {
            position: absolute;
            display: none;
        }
        .line {
            border-bottom: 1px solid #7c7c7c ;
        }
        #chart-content {
            padding-left: 5%;
            position: absolute;
            opacity: 0;
        }
    </style>

    <body>
        <div class="jumbotron">
            <div class="container-fluid">
                <h1>Vote Result</h1>
            </div>
        </div>

        <div class="container-fluid">

            <!-- Nav bar -->
            <ul class="nav nav-tabs" id="navigation">
                <li id="list" role="presentation" class="active"><a href="#">List</a></li>
                <li id="chart" role="presentation"><a href="#">Chart</a></li>
                <li id="percentage" role="presentation"><a href="#">Percentage</a></li>
            </ul>

            <!-- List content -->
            <div class="content" id="list-content">
            @criteria.map { criterion =>
                <div id="@criterion.criteriaName">
                    <h4>
                        <span class="label label-info"> @criterion.criteriaName ID: @criterion.ID </span>
                    </h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ProjectID</th>
                                <th>ProjectName</th>
                                <th>Score</th>
                            </tr>
                        </thead>

                            <!-- Data part -->
                        <tbody>
                        @projects.map { project =>
                            <tr>
                                <td>@project.ID</td>
                                <td>@project.projectName</td>
                                <td>@result.get(criterion, project).asInstanceOf[Int]</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
            </div>

            <!-- Percentage content -->
            <div class="content" id="percentage-content">
                @criteria.map { criterion =>
                    <h4>
                        <span class="label label-info"> @criterion.criteriaName ID: @criterion.ID </span>
                    </h4>

                    @projects.map { project =>
                        <h4>@project.projectName</h4>
                        <div class="progress progress-@project.projectName">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@project.getVoteScoreAverage(criterion.ID)" aria-valuemin="0" aria-valuemax="100" style="width: @project.getVoteScoreAverage(criterion.ID)%;">
                                <!--label-->
                                @project.getVoteScoreAverage(criterion.ID)%
                            </div>
                        </div>
                    }
                    <div class="line"></div>
                    <br>
                }
            </div>
        </div>

        <!-- Chart content -->
        <div id="chart-content">
        @criteria.map { criterion =>
            <h4><span class="label label-info"> @criterion.criteriaName ID: @criterion.ID </span></h4>
            <div id="@criterion.criteriaName-element">
                <canvas id="@criterion.getDashName()" width="60%" height="60%"></canvas>
            </div>
        }
        </div>

    </body>

    <script>
        $(document).ready(function(){
            $("#list-content.content" ).toggle(true);

            // Random color function
            var rgbRandom = function() {
                return [Math.random() * 256, Math.random() * 256, Math.random() * 256];
            }

            var getBrightColor = function(rgb, brightness) {
                //6 levels of brightness from 0 to 5, 0 being the darkest
                var mix = [brightness*51, brightness*51, brightness*51]; //51 => 255/5
                var mixedrgb = [rgb[0] + mix[0], rgb[1] + mix[1], rgb[2] + mix[2]].map(function(x){ return Math.round(x/2.0)})
                return "rgb(" + mixedrgb.join(",") + ")";
            };
            //////////////////////////////////////////////

            // Deactivate The Navigation Bar
            var deactivateNav = function() {
                $("#navigation" ).children("li").each(function() {
                    $(this ).removeClass("active");
                });
            }
            //////////////////////////////////////////////

            // Deactivate All Contents
            var deactivateContent = function() {
                $(".content" ).each(function() {
                   $(this ).toggle(false);
                });
            }
            //////////////////////////////////////////////

            // Chart
            var data = [];
            @criteria.map { criterion =>
                var i =0;
                var projectList = [];
                @projects.map { project =>
                    var value = @result.get(criterion, project).asInstanceOf[Int];
                    var rgb = rgbRandom();
                    var color = getBrightColor(rgb, 2);
                    var highlight = getBrightColor(rgb, 4);
                    var label = "@project.projectName";
                    var obj = {
                        value: value,
                        color: color,
                        highlight: highlight,
                        label: label
                    };
                    projectList.push(obj);
                }
                data.push(projectList);
            }
            console.log(data);
            //////////////////////////////////////////////

            // Clicking function
            $("#list" ).click(function() {
                deactivateNav();
                $(this ).addClass("active");
                deactivateContent();
                $("#list-content" ).toggle(true);
            });

            $("#chart" ).click(function() {
                deactivateNav();
                $(this ).addClass("active");
                deactivateContent();
                @criteria.map { criterion =>
                    var name = "@criterion.getDashName()";
                    var ctx = $("#"+name).get(0).getContext("2d");
                    var myNewChart = new Chart(ctx).Doughnut(data[0], {animateRotate: true, animateScale: true, responsive: true});
                }
                $("#chart-content" ).animate({opacity: 1}, 1000, function() {});
            });

            $("#percentage" ).click(function() {
                deactivateNav();
                $(this ).addClass("active");
                deactivateContent();
                $("#percentage-content" ).toggle(true);
            });
            //////////////////////////////////////////////
        });
    </script>

</html>
}
