@main("Voting") {
    <h> Who is the best ?</h>
    <br>
    <br>
    @*Just always pass "1"*@
    <form id='voteProject' action="@routes.Application.vote("1")" method="post">
        <script text='text/javascript' src='@routes.Assets.at("js/getButton.js")'></script>
        <dev id = 'list' ></dev>
        <script text="/text/javascript">
        $('#voteProject' ).on('change',function(){
        //$("#voteProject" ).attr("action", "routes.Application.vote(" + ($('input[name=project]:checked','#voteProject').val()) + ")" ) ;
        alert("you select "+$('input[name=project]:checked','#voteProject' ).val());
        });
        </script>
        <button>submit</button>
    </form>
    <br>
    <br>
}